.container {
  display: flex;
  justify-content: space-around;
  border-color: red;
  border: 2px;
  margin-top: 15px;
}

.cart-button {
  background-color:white;
  color: red;
  border-color: red;
  border-radius: 30%;
  opacity: 0.8;
  top: 8px;
  right: 16px;
  position: absolute;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  height: 50px;
  width: 60px;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

.goods-list {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.img{
  height: 100px;
}

.shop-name {
  font-family: 'Tangerine', serif;
  font-size: 40px;
}
