<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div id="app">
    <header>
        <span class="logo">eShop</span>
        <input type="text" class="search" v-model="searchValue"/>
<!--        <button v-on:click="renderCart" class="cart-button cartButton">Корзина</button>-->
        <button v-on:click="isVisibleCart" class="cart-button cartButton">Корзина</button>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span @click="isVisibleCart" class="close">&times;</span>
                <div class="item" v-for="item in basketGoods">
                    <p>Наименование: {{item.product_name}}</p>
                    <p>Цена за штуку: {{item.price}}</p>
                    <p>Количество: {{item.quantity}}</p>
                    <p>Общая стоимость: {{item.price * item.quantity}}</p>
                </div>
                <div>
                    Всего в корзине товаров на сумму: {{basketTotal}}
                </div>
            </div>
        </div>

    </header>
    <main>
        <section class="goods">
            <h1 v-if="filteredGoods.length == 0">Нет данных</h1>
            <div class="item" v-for="item in filteredGoods">
                <h2>{{ item.product_name }}</h2>
                <p>{{ item.price }}</p>
                <button name="add-to-basket" v-on:click.prevent="addItem(item)">Add to basket</button>
            </div>
        </section>
    </main>
</div>

</body>
</html>
